.title{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20vh;
    align-items: center;
    font-size: 50px;

}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: flex-start;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5vh;

}

.press{
    display: flex;
    justify-content: center;
    gap: 10vh;

}

.choice button{
    margin-top: 5vh;
    height: 25vh;
    width: 50vh;
}

.yes{
    background-color: greenyellow;
    font-size: 50px;
}
.no{
    background-color: red;
    font-size: 50px;
    color: aliceblue;
}

/* JS DOM */


.gameScreen{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 0;
}

.gameRoundScreen{
    width:69%;
}
.roundDetail{
    display: flex;
    justify-content: center;
}

.gameRoundScreen > h1{
    font-size: 25px;
}

.playerChoices{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.playerChoices > button{
    width: 35vh;
    margin: 0;
    font-size: 30px;
}

.scoreCard{
    width: 21%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.scoreCard > h1{
    font-size: 20px;
}

.outcomePage{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
}

.outcomePage > button{
    width: 25vh;
    height: 15vh;
    font-size: 30px;
    background-color: greenyellow;
}

